# --- Python ---
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# --- Django ---
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
/static/

# --- OS / IDE ---
.DS_Store
.vscode/
.idea/
*.log

# --- Otros ---
.python-version

